<div class="wrapperBackground" (click)="closeList()">
    <header>
        <app-header></app-header>
    </header>


    <div class="wrapper">

        <aside>
            <app-filters></app-filters>
        </aside>

        <div class="products" *ngIf="flagForLoader">
            <div class="customSelect">
                <div class="currentOrder" (click)="openList($event)"><span *ngIf="currentOrder!=='Default'">First </span>{{currentOrder}} &#9660;</div>
                <ul *ngIf="showListOfSort">
                    <li (click)="changeUrlToOrderBy('id')"><span *ngIf="currentOrder === 'Default'">&#10003;</span>Default</li>
                    <li (click)="changeUrlToOrderBy('price')"><span *ngIf="currentOrder === 'cheap'">&#10003;</span>Cheap</li>
                    <li (click)="changeUrlToOrderBy('price', true)"><span *ngIf="currentOrder === 'expensive'">&#10003;</span>Expensive</li>
                </ul>
            </div>
            <ul class="productsContent">
                <ng-container *ngFor="let product of currentProductsOnPage">
                    <li>
                        <div class="image">
                            <a routerLink='/product/{{product.id}}'>
                                <img
                                    src="{{ (product.image) || 'https://upload.wikimedia.org/wikipedia/commons/0/0a/No-image-available.png' }}">
                            </a>
                        </div>
                        <div class="nameAndDescriptionAndCompare">
                            <div class="name">
                                <a routerLink='/product/{{product.id}}'>{{product.name}}</a>
                            </div>
                            <div class="shortDescription">
                                {{product.shortDescription || 'no description'}}
                            </div>
                            <div class="addToCompare">
                                <button [className]="checkValue(product.id) ? 'buttonCompareChecked' : 'buttonCompare'" (click)="addToCompare(product.id, product.category)"></button>
                            </div>
                        </div>
                        <div class="price">
                            <h3>{{product.price | currency}}</h3>
                        </div>
                    </li>
                </ng-container>
            </ul>

            <div class="pagination">
                <button class="prevPage" (click)="prevPage()" [disabled]="currentPage===1">PREV</button>
                <button class="nextPage" (click)="nextPage()" [disabled]="currentPage>=(productsAfterFilter.length/itemsPerPage)">NEXT</button>
            </div>

        </div>

        <div class="toCompare" *ngIf="compareCounter > 0">
            <div class="counterCompare" *ngIf="!flagForClearComparison">
                <button (click)="goToCompare()" [disabled]="compareCounter < 2">
                    {{compareCounter}} items in comparison
                </button>
            </div>
            <div [className]="flagForClearComparison ? 'clearCompareConfirm' : 'clearCompare'">
                <button (click)="clearCompare()">
                    <p *ngIf="flagForClearComparison">Clear comparison list</p>
                    <img *ngIf="!flagForClearComparison" src="https://firebasestorage.googleapis.com/v0/b/my-angular-project9465.appspot.com/o/assets%2FtrashIcon.png?alt=media&token=fa5823ea-4346-45f4-babf-c400e35b0cc7" alt="">
                </button>
            </div>
        </div>

    </div>
</div>
