
<div class="wrapper">

    <header>
        <app-header></app-header>
    </header>

    <aside>
        <nav>
            <ul>
                <li [ngClass]="{active : flagContent === 'shipping'}">
                    <div (click)="changeContent('shipping')">Shipping information</div>
                </li>
                <li [ngClass]="{active : flagContent === 'bankCards'}">
                    <div (click)="changeContent('bankCards')">Bank cards</div>
                </li>
                <li [ngClass]="{active : flagContent === 'myOrders'}">
                    <div (click)="changeContent('myOrders')">My orders</div>
                </li>
            </ul>
        </nav>
    </aside>


    <div class="content" *ngIf="item | async as user">

        <div class="addressDetails" *ngIf="flagContent === 'shipping'">
            <div *ngIf="!flagForEditAddress && user.address">
                <div class="caption">
                    My Shipping Address
                </div>
                <div class="nameAndPhone">
                    {{user.displayName}} {{user.phone}}
                </div>
                <div class="street">
                    {{user.address?.street}}, {{user.address?.house}}-{{user.address?.flat}}
                </div>
                <div class="city">
                    {{user.address?.city}}, {{user.address?.country}}, {{user.address?.index}}
                </div>
                <button (click)="editAddress()">Edit</button>
            </div>
            <button (click)="editAddress()" *ngIf="!flagForEditAddress && !user.address">+ Add new address</button>
            <app-address-form (onChanged)="closeAddressFromChildComponent()" *ngIf="flagForEditAddress"></app-address-form>
        </div>

        <div class="paymentMethods" *ngIf="flagContent === 'bankCards'">
            <div class="caption">
                Bank cards
            </div>
            <div class="noCards" *ngIf="!user.bankCards">
                No cards
            </div>
            <ng-container *ngIf="user.bankCards">
                <div class="bankCard" *ngFor="let card of user.bankCards">
                    <div>
                        <div class="cardNumberCaption">
                            Card number
                        </div>
                        <div class="cardNumber">
                            {{card.cardNumber | creditCardMask}}
                        </div>
                    </div>
                    <div class="removeCard">
                        <button (click)="removeCard(card.id)">Remove</button>
                    </div>
                </div>
            </ng-container>
        </div>

        <div class="myOrders" *ngIf="flagContent === 'myOrders'">
            my orders
        </div>

    </div>

    
    




</div>
