
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 215px 1fr;
    grid-template-areas: 
    'header header' 
    'aside content';
    header {
        grid-area: header;
    }
    aside {
        grid-area: aside;
    }
    .content {
        grid-area: content;
    }
}

aside {
    background-color: #fff;
    height: fit-content;
    border: 1px solid #e8e8e8;
    ul {
        list-style: none;
        padding-left: 0px;
        margin: 10px 0;
    }
    li {
        height: 40px;
        line-height: 40px;
        padding-left: 15px;
        div {
            height: 19px;
            font-size: 18px;
            cursor: pointer;
            &:hover {
                color: #f60;
            }
        }
    }
    .active {
        border-left: 3px solid #f60;
        background-color: #f2f2f2;
    }
}

.content {
    .addressDetails {
        padding: 15px;
        background-color: #fff;
        .caption {
            font-size: 20px;
            // margin-top: 15px;
        }
        .nameAndPhone {
            font-weight: bold;
            margin: 30px 0 10px;
        }
        button {
            color: #2e9cc3;
            background-color: inherit;
            border: none;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-top: 15px;
        }
    }
    .paymentMethods {
        padding: 15px;
        background-color: #fff;
        .caption {
            font-size: 20px;
            margin-bottom: 15px;
        }
        .noCards {
            margin-top: 35px;
            font-size: 18px;
        }
        .bankCard {
            width: 400px;
            height: 220px;
            border: 2px solid #ccc;
            border-radius: 12px;
            padding: 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 15px;
            .cardNumberCaption {
                color: #999;
            }
            .cardNumber {
                padding-top: 15px;
                font-size: 24px;
                font-weight: bold;
            }
            .removeCard {
                text-align: end;
                button {
                    color: #2e9cc3;
                    background-color: inherit;
                    border: none;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }
        .addCard {
            color: #2e9cc3;
            background-color: inherit;
            border: none;
            cursor: pointer;
            font-weight: bold;
        }
    }
    .myOrders {
        .caption {
            font-size: 20px;
            margin-bottom: 15px;
            background-color: #fff;
            padding: 20px;
        }
        .purchase {
            margin-bottom: 15px;
            background-color: #fff;
            padding: 20px;
            padding-bottom: 0;
            .products {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                border-radius: 5px;
            
                .dateAndTotalPrice {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .dateAndTime {
                        font-size: 1.2rem;
                    }
                    .totalPrice {
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }
            
                .productInCart {
                    margin: 10px;
                    margin-top: 20px;
                    padding: 10px;
                    height: 100px;
            
                    display: grid;
                    grid-template-columns: 100px 1fr 100px;
                    grid-gap: 1rem;
                
                    a {
                        color: black;
                        text-decoration: none;
                    }
                    
                    .image {
                        text-align: center;
                        height: 100px;
                        img {
                            max-height: 100%;
                            max-width: 100%;
                        }
                    }
            
                    .priceAndQuantity {
                        .priceSubTotal {
                            padding-top: 20px;
                            font-size: 1.2rem;
                        }
                    }
                }
                
            }
        }
    }
}




