.wrapper {
    display: grid;
    background-color: #fff;
    grid-template-columns: 180px 1fr 250px;
    line-height: 60px;
    height: 60px;
    margin: 0 auto;
    max-width: 1000px;
    .wrapperForIcons {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .searchIconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    app-search {
        width: 100%;
        height: 60px;
    }
}

.showIconsListInput,
.showIconsListLabel,
.showSearchInput,
.showSearchLabel {
    display: none;
}
.iconsList {
    display: flex;
    flex-direction: row;
    .textForIcon {
        display: none;
    }
}


@media (max-width: 720px) {
    .wrapper {
        grid-template-columns: 120px 1fr 60px;
    }
    .shopName {
        a {
            font-size: 2.3rem;

        }
    }
    .showIconsListLabel {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .iconsList {
        display: none;
    }
    .showIconsListInput:checked ~ .iconsList {
        position: absolute;
        left: -160px;
        top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #fff;
        box-shadow: -8px 10px 10px -4px rgba(0,0,0,0.5);;
        height: fit-content;
        width: fit-content;
        .icon {
            justify-content: flex-start;
            height: 120px;
            width: 200px;
            margin: 0 10px;
            img {
                height: 60px;
                width: 60px;
            }
        }
        .textForIcon {
            display: block;
            font-size: 22px;
            margin: 0 10px;
        }
    }
} 

.shopName {
    height: 60px;
    font-size: 2.8rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    a {
        color: #ff4747;
        text-decoration: none;
    }
}


app-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}



.icon {
    width: 70px;
    color: black;
    background-color: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0 auto;
    img {
        height: 40px;
        width: 40px;
    }
    .counterCart {
        position: absolute;
        top: 8px;
        left: 43px;
        width: 20px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
        border-radius: 10px;
        background-color: #ff4747;
        text-align: center;
        color: white;
    }
}

.icon:hover {
    div {
        display: block;
        position: absolute;
        top: 45px;
        border: 1px solid black;
        background-color: #fff;
        padding: 5px;
    }
}


