.wrapper {
    display: grid;
    background-color: #fff;
    grid-template-columns: 180px 1fr 70px 70px 100px;
    line-height: 60px;
    height: 60px;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 630px;
}

// @media (max-width: 800px) {
//     .search {
//         margin-left: 10px;
//         margin-right: 10px;
//     }
// }

.shopName {
    height: 60px;
    font-size: 2.8rem;
    font-weight: 900;
    padding-left: 20px;
    padding-right: 10px;
    a {
        color: #ff4747;
        text-decoration: none;
    }
}


// .search {
//     margin-top: 15px;
//     height: 24px;
//     margin-left: 10%;
//     margin-right: 10%;
//     padding-left: 10px;
//     border: 2px solid #ccc;
//     border-radius: 5px;
// }


.toCart,
.toUserDetails {
    color: black;
    background-color: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 0;
    margin: 0 auto;
    img {
        height: 40px;
        width: 40px;
    }
    .counterCart {
        position: absolute;
        top: 8px;
        left: 30px;
        width: 20px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
        border-radius: 10px;
        background-color: #ff4747;
        text-align: center;
        color: white;
    }
}

.auth {
    text-decoration: none;
    height: 60px;
    text-decoration: none;
    color: black;
    img {
        height: 20px;
        width: 20px;
    }
}

.logout {
    height: 60px;
    button {
        height: 60px;
        background-color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        img {
            height: 20px;
            width: 20px;
        }
    }
}


