<div class="popupLogin" *ngIf="showLoginPopup">
    <div class="popupBackground" (click)="closeLogin()"></div>
    <app-popup-login (onChanged)="closeLoginFromChildComponent()"></app-popup-login>
</div>

<header>
    <app-header></app-header>
</header>

<div class="wrapper" *ngIf="product$ | async as product">

    <div class="image">
        <img
            src="{{ (product.imageBig) || 'https://upload.wikimedia.org/wikipedia/commons/0/0a/No-image-available.png' }}">
    </div>
    <div class="nameAndDescription">
        <div>
            <h3>{{product.name}}</h3>
        </div>
        <div>
            {{product.shortDescription || 'No description'}}
        </div>
    </div>
    <div class="price">
        <h3>Price: {{product.price}} $</h3>
    </div>
    <div class="country">
        <h4>Country: {{product.country}}</h4>
    </div>
    <div class="rating">
        <ng-container *ngIf="product.averageRating">
            <span [ngClass]="{'active' : product.averageRating > 0}"></span>
            <span [ngClass]="{'active' : product.averageRating > 1.5}"></span>
            <span [ngClass]="{'active' : product.averageRating > 2.5}"></span>
            <span [ngClass]="{'active' : product.averageRating > 3.5}"></span>
            <span [ngClass]="{'active' : product.averageRating > 4.5}"></span>
            {{product.averageRating | number : '1.1-2'}}
        </ng-container>
        <div *ngIf="!product.reviews">
            No reviews
        </div>
        <ng-container *ngIf="product.reviews">
            <div *ngIf="product.reviews.length > 1">
                {{product.reviews.length}}
                reviews
            </div>
            <div *ngIf="product.reviews.length === 1">
                {{product.reviews.length}}
                review
            </div>
        </ng-container>
    </div>
    <div class="addToCart">
        <button (click)="addToCart(product.id, product.price, product.name, product.image)">Add to cart</button>
        <button (click)="removeFromCart(product.id, product.price, product.name, product.image)"
            [disabled]="!flagProductInCart">Remove from cart</button>
        <div class="quantityInCart">Current quantity of this product in your cart: {{quantityOfItemsInCart}}</div>
    </div>
    <div class="specs">
        <table>
            <caption>Specs:</caption>
            <tr *ngFor="let spec of product.specs | keyvalue">
                <td>{{spec.key | format}}</td>
                <td>{{spec.value}}</td>
            </tr>
        </table>
    </div>
    <div class="reviews">
        <app-reviews></app-reviews>
    </div>
</div>

<div class="footer"></div>