<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
    <div class="changeAddressCaption">
        Change address
    </div>
    <div class="contactCaption">
        Contact
    </div>
    <div class="nameAndPhone">
        <div class="nameWrapper">
            <input type="text" placeholder="Name" formControlName="name">
            <div class="exampleName">
                Example: Ivanov Ivan Ivanovich
            </div>
            <div *ngIf="nameInput?.invalid && nameInput?.touched">
                <div class="inputError" *ngIf="nameInput?.errors?.required">
                    Please enter name
                </div>
                <div class="inputError" *ngIf="nameInput?.errors?.inputLength">
                    Too long name
                </div>
            </div>
        </div>
        <div class="phoneWrapper">
            <input type="text" placeholder="Phone Number" formControlName="phone"
                (keypress)="inputOnlyDigitsAndPlus($event)" (keyup)="phoneFormat($event)" maxlength="18">
            <div class="examplePhone">
                Example: +375(##) ###-##-##
            </div>
            <div *ngIf="phoneInput?.invalid && phoneInput?.touched">
                <div class="inputError" *ngIf="phoneInput?.errors?.required">
                    Please enter phone
                </div>
            </div>
        </div>
    </div>
    <div class="addressCaption">
        Address
    </div>

    <div class="streetHouseFlat">
        <div class="streetWrapper">
            <input type="text" placeholder="Street" formControlName="street">
            <div *ngIf="streetInput?.invalid && streetInput?.touched">
                <div class="inputError" *ngIf="streetInput?.errors?.required">
                    Please enter street
                </div>
                <div class="inputError" *ngIf="streetInput?.errors?.inputLength">
                    Too long name of street
                </div>
            </div>
        </div>
        <div class="houseWrapper">
            <input type="text" placeholder="House" formControlName="house" (keypress)="inputOnlyDigits($event)">
            <div *ngIf="houseInput?.invalid && houseInput?.touched">
                <div class="inputError" *ngIf="houseInput?.errors?.required">
                    Please enter number of house
                </div>
                <div class="inputError" *ngIf="houseInput?.errors?.inputLength">
                    Too long number of house
                </div>
            </div>
        </div>
        <div class="flatWrapper">
            <input type="text" placeholder="Flat" formControlName="flat" (keypress)="inputOnlyDigits($event)">
            <div *ngIf="flatInput?.invalid && flatInput?.touched">
                <div class="inputError" *ngIf="flatInput?.errors?.required">
                    Please enter number of flat
                </div>
                <div class="inputError" *ngIf="flatInput?.errors?.inputLength">
                    Too long number of flat
                </div>
            </div>
        </div>
    </div>

    <div class="countryCityIndex">
        <div class="countryWrapper">
            <input type="text" placeholder="Country" formControlName="country">
            <div *ngIf="countryInput?.invalid && countryInput?.touched">
                <div class="inputError" *ngIf="countryInput?.errors?.required">
                    Please enter country
                </div>
                <div class="inputError" *ngIf="countryInput?.errors?.inputLength">
                    Too long name of country
                </div>
            </div>
        </div>
        <div class="cityWrapper">
            <input type="text" placeholder="City" formControlName="city">
            <div *ngIf="cityInput?.invalid && cityInput?.touched">
                <div class="inputError" *ngIf="cityInput?.errors?.required">
                    Please enter city
                </div>
                <div class="inputError" *ngIf="cityInput?.errors?.inputLength">
                    Too long name of city
                </div>
            </div>
        </div>
        <div class="indexWrapper">
            <input type="text" placeholder="Index" formControlName="index" (keypress)="inputOnlyDigits($event)"
                maxlength="6">
            <div *ngIf="indexInput?.invalid && indexInput?.touched">
                <div class="inputError" *ngIf="indexInput?.errors?.required">
                    Please enter index
                </div>
                <div class="inputError" *ngIf="indexInput?.errors?.inputMinLength">
                    Too short number of index
                </div>
                <div class="inputError" *ngIf="indexInput?.errors?.inputLength">
                    Too long number of index
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button type="submit" [disabled]="!addressForm.valid" class="submit">Save and continue</button>
        <button (click)="closeForm()" class="cancel">Cancel</button>
    </div>

</form>