
<div class="wrapperBackground">


    <div class="popup" *ngIf="showAddressPopup">
        <app-address-form (onChanged)="closeAddressFromChildComponent()"></app-address-form>
    </div>
    <div class="popupBackground" *ngIf="showAddressPopup" (click)="closeAddress()"></div>

    <div class="popupCard" *ngIf="showCardPopup">
        <app-bank-card-form (onChanged)="closeCardFromChildComponent()"></app-bank-card-form>
    </div>
    <div class="popupBackground" *ngIf="showCardPopup" (click)="closeCard()"></div>
    
    <!-- *ngIf="showCardPopup" -->
    
    <div *ngIf="item | async as user" class="wrapper">

        <div class="deliveryAddress">
            <div class="addressDetails">
                <div class="caption">
                    Shipping Information
                </div>
                <div class="nameAndPhone">
                    {{user.surname}} {{user.name}} {{user.phone}}
                </div>
                <div class="street">
                    {{user.address.street}}, {{user.address.house}}-{{user.address.flat}}
                </div>
                <div class="city">
                    {{user.address.city}}, {{user.address.country}}, {{user.address.index}}
                </div>
            </div>
            <div class="addressButtons">
                <button (click)="changeAddress()">Change address</button>
            </div>
        </div>

        <div class="paymentDetails">
            <div class="cardDetails">
                <div class="caption">
                    Payment Methods
                </div>
                <div class="cardNumberAndCardName">
                    <div class="cardNumber">
                        {{currentBankCard.cardNumber | creditCardMask}}
                    </div>
                    <div class="cardName">
                        {{currentBankCard.cardName}}
                    </div>
                </div>
            </div>
            <div class="cardButtons">
                <button (click)="changeCard()">Change</button>
            </div>
        </div>

        <div class="buy">
            <div class="totalPriceCaption">
                Order Summary
            </div>
            <div class="toPayAndAmount">
                <div class="toPay">
                    Total
                </div>
                <div *ngIf="totalPrice as totalPrice" class="amount">
                    {{totalPrice | currency}}
                </div>
            </div>
            <div class="checkoutButton">
                <button (click)="checkout()">Buy</button>
            </div>
        </div>


        <div class="productsInCart">
            <div class="orderListCaption">
                Order Review
            </div>
            <div *ngFor="let productInCart of productsInCart" class="productInCart">
                <div class="image">
                    <a routerLink='/product/{{productInCart.productId}}'>
                        <img
                            src="{{ (productInCart.image) || 'https://upload.wikimedia.org/wikipedia/commons/0/0a/No-image-available.png' }}">
                    </a>
                </div>
                <div class="nameAndPrice">
                    <div class="name">
                        <a routerLink='/product/{{productInCart.productId}}'>{{productInCart.name}}</a>
                    </div>
                    <br>
                    <div class=price>
                        {{productInCart.price | currency}}
                    </div>
                </div>
                <div class="priceAndQuantity">
                    <div class="quantity">
                        Quantity:
                        {{productInCart.quantity}}
                    </div>
                    <div class="priceSubTotal">
                        {{productInCart.price * productInCart.quantity | currency}}
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>