.wrapperBackground {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    font-family: Open Sans, Arial, Helvetica, sans-serif, Heiti;

    .popup {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        app-address-form {
            z-index: 9999;
            background-color: #fff;
            border-radius: 5px;
            width: 840px;
        }
    }

    .popupCard {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        app-bank-card-form {
            z-index: 9999;
            background-color: #fff;
            border-radius: 5px;
            width: 840px;
        }
    }

    .popupBackground {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9998;
        background-color: rgba(0,0,0,0.7);
    }

}

.emptyCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height: 233px;
    }
    .emptyCardText {
        margin-top: 30px;
        font-size: 35px;
    }
    span {
        margin-top: 10px;
        a {
            color: #2e9cc3;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 280px;
    grid-template-areas:
        'deliveryAddress buy'
        'paymentDetails buy'
        'productsInCart buy'
    ;
    .deliveryAddress {
        grid-area: deliveryAddress;
    }
    .paymentDetails {
        grid-area: paymentDetails;
    }
    .buy {
        grid-area: buy;
    }
    .productsInCart {
        grid-area: productsInCart;
    }
}

.deliveryAddress,
.paymentDetails {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .caption {
        font-size: 1.5rem;
    }
    .addressDetails {
        .nameAndPhone {
            font-weight: bold;
            margin: 30px 0 10px;
        }
    }
    .addressButtons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 85px;
        .addNewAddress {
            margin-top: 5px;
            background-color: inherit;
            color: #2e9cc3;
            font-size: 18px;
        }
        .editAddress {
            margin-top: 5px;
        }
    }
    .cardButtons {
        margin-top: 50px;
        .addCard {
            background-color: inherit;
            color: #2e9cc3;
            font-size: 18px;
        }
    }
    .cardNumberAndCardName {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        .cardName {
            margin-left: 10px;
            font-weight: bold;
        }
    }
    button {
        background-color: #f2f2f2;
        border: none;
        padding: 6px;
        border-radius: 3px;
        cursor: pointer;
    }
}


.buy {
    background-color: #fff;
    height: 150px;
    border-radius: 5px;
    padding: 20px;

    .totalPriceCaption {
        font-size: 1.5rem;
    }
    .toPayAndAmount {
        margin-top: 20px;
        height: 40px;
        line-height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .toPay {
            font-size: 1.2rem;
        }
        .amount {
            font-size: 1.5rem;
        }
    }
    .buyButton {
        margin-top: 20px;
        button {
            border: none;
            width: 100%;
            box-sizing: border-box;
            height: 40px;
            border-radius: 5px;
            font-size: 1.2rem;
            color: #fff;
            cursor: pointer;
            background-color: #ff4747;
        }
        // a {
        //     margin-top: 20px;
        //     display: block;
        //     text-align: center;
        //     text-decoration: none;
    
        //     width: 100%;
        //     box-sizing: border-box;
        //     height: 40px;
        //     line-height: 40px;
        //     border-radius: 5px;
        //     font-size: 1.2rem;
        //     color: #fff;
        //     cursor: pointer;
        //     background-color: #ff4747;
        // }
        button.disabled {
            background-color: #ccc;
        }
    }
    


}



.productsInCart {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;

    .orderListCaption {
        font-size: 1.5rem;
        margin: 20px;
    }

    .productInCart {
        margin: 10px;
        padding: 10px;
        height: 100px;

        display: grid;
        grid-template-columns: 100px 1fr 100px;
        grid-gap: 1rem;
    
        margin-bottom: 1rem;

        a {
            color: black;
            text-decoration: none;
        }
        
        .image {
            text-align: center;
            height: 100px;
            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        .priceAndQuantity {
            .priceSubTotal {
                padding-top: 20px;
                font-size: 1.2rem;
            }
        }
    }
    
}


