<button (click)="goBack()">Go back</button>

<div class="wrapper">
    <div class="card">
        <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
            <label>
                Card number:<br>
                <input type="text" formControlName="cardNumber" placeholder="0000 0000 0000 0000"><br>
            </label>


            <div *ngIf="cardNumber && cardNumber.errors && cardNumber.invalid && (cardNumber.dirty || cardNumber.touched)"
                class="alert alert-danger">
                <div *ngIf="cardNumber.errors.required">
                    Card number is required.
                </div>
                <div *ngIf="cardNumber.errors.minlength">
                    Card number must contain 16 digits!
                </div>
                <div *ngIf="cardNumber.errors.maxlength">
                    Card number must contain 16 digits!
                </div>
            </div>

            <label>
                Card month:<br>
                <input type="text" formControlName="cardMonth" placeholder="MM">
            </label>

            <div *ngIf="cardMonth && cardMonth.errors && cardMonth.invalid && (cardMonth.dirty || cardMonth.touched)"
                class="alert alert-danger">
                <div *ngIf="cardMonth.errors.required">
                    Card month is required.
                </div>
                <div *ngIf="cardMonth.errors.minlength">
                    Card month must contain 2 digits!
                </div>
                <div *ngIf="cardMonth.errors.maxlength">
                    Card month must contain 2 digits!
                </div>
            </div>

            <label>
                Card year:<br>
                <input type="text" formControlName="cardYear" placeholder="YY">
            </label>

            <div *ngIf="cardYear && cardYear.errors && cardYear.invalid && (cardYear.dirty || cardYear.touched)"
                class="alert alert-danger">
                <div *ngIf="cardYear.errors.required">
                    Card year is required.
                </div>
                <div *ngIf="cardYear.errors.minlength">
                    Card year must contain 2 digits!
                </div>
                <div *ngIf="cardYear.errors.maxlength">
                    Card year must contain 2 digits!
                </div>
            </div>

            <label>
                CVV:<br>
                <input type="text" formControlName="cardCVV" placeholder="000">
            </label>

            <div *ngIf="cardCVV && cardCVV.errors && cardCVV.invalid && (cardCVV.dirty || cardCVV.touched)"
                class="alert alert-danger">
                <div *ngIf="cardCVV.errors.required">
                    Card CVV is required.
                </div>
                <div *ngIf="cardCVV.errors.minlength">
                    Card CVV must contain 3 digits!
                </div>
                <div *ngIf="cardCVV.errors.maxlength">
                    Card CVV must contain 3 digits!
                </div>
            </div>

            <button type="submit" [disabled]="!cardForm.valid">Submit</button>
        </form>
    </div>
</div>