form {
    padding: 20px 30px;
}

.captionAndClose {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .changeCardCaption {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 35px;
    }
    
    .close {
        position: relative;
        left: 14px;
        top: -12px;
        border: none;
        outline: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: inherit;
        &:before {
            content: '\00d7';
            color: rgb(172, 172, 172);
            font-size: 2.3rem;
            font-weight: 300;
            width: 40px;
            height: 40px;
        }
    }
}

.bankCardsRadioButtons {
    display: flex;
    flex-direction: column;
    label {
        width: 300px;
        height: 30px;
        .cardName {
            margin-left: 10px;
            font-weight: bold;
        }
    }
}

.newCard {
    display: flex;
    flex-direction: row;
    position: relative;
    .cardFront,
    .cardBack {
        width: 338px;
        height: 214px;
        background-color: #f2f2f2;
        border-radius: 8px;
        margin-right: 20px;
        div {
            position: absolute;
            p {
                margin: 0;
                font-size: 10px;
                color: #999;
            }
            input {
                background: transparent;
                border: none;
                outline: none;
                border-bottom: 1px solid black;
            }
            input.ng-touched.ng-invalid {
                color: #e62e04;
                border-bottom: 1px solid #e62e04;
            }
        }
    }
    .cardFront {
        .cardNumber {
            top: 75px;
            left: 40px;
            input {
                width: 248px;
                height: 26px;
                font-size: 22px;
            }
        }
        .cardHolder {
            left: 40px;
            top: 153px;
            input {
                width: 120px;
                height: 17px;
                font-size: 14px;
            }
        }
        .expires {
            left: 210px;
            top: 153px;
            input {
                width: 80px;
                height: 17px;
                font-size: 14px;
            }
        }
    }
    .cardBack {
        position: relative;
        .cardCVV {
            width: 67px;
            top: 87px;
            left: 270px;
            input {
                font-size: 22px;
                height: 26px;
                width: 50px;
            }
        }
    }
}

.inputCardName {
    margin-bottom: 20px;
    .cardNameLabelError {
        color: #e62e04;
    }
    input {
        border: none;
        outline: none;
        border-bottom: 1px solid black;
    }
    input.ng-invalid {
        color: #e62e04;
        border-bottom: 1px solid #e62e04;
    }
}

.addNewCardButton {
    color: #2e9cc3;
    background: #fff;
    border: none;
    font-weight: 700;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
}

.saveThisCard {
    width: 200px;
    margin: 10px 0;
    input {
        cursor: pointer;
    }
}

.buttons {
    padding-top: 10px;
    button {
        border: none;
        height: 44px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        &:disabled {
            cursor: default;
        }
    }
    .submit {
        background-color: #ff4747;
        color: #fff;
        width: 230px;
        margin-right: 15px;
        &:disabled {
            background-color: #ccc;
        }
    }
    .cancel {
        width: 140px;
    }
}

.validationErrors {
    color: #e62e04;
}

@media (max-width: 900px) {
    .newCard {
        flex-direction: column;
        .cardFront {
            margin-bottom: 20px;
        }
    }
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        .submit {
            margin: 0 0 10px;
        }
    }
}

@media (max-width: 500px) {
    .newCard {
        width: 100%;
        height: 100%;
        .cardFront {
            width: 100%;
            height: 100%;
            .cardNumber {
                position: static;
                input {
                    width: 248px;
                    height: 26px;
                    font-size: 16px;
                }
            }
            .cardHolder {
                position: static;
                input {
                    width: 120px;
                    height: 17px;
                    font-size: 14px;
                }
            }
            .expires {
                position: static;
                input {
                    width: 80px;
                    height: 17px;
                    font-size: 14px;
                }
            }
        }
        .cardBack {
            width: 100%;
            height: 100%;
            .cardCVV {
                width: 67px;
                position: static;
                input {
                    font-size: 22px;
                    height: 26px;
                    width: 50px;
                }
            }
        }
    }
}
