<form [formGroup]="cardForm">

    <div class="captionAndClose">
        <div class="changeCardCaption">
            Payment Methods
        </div>
        <button class="close" (click)="closeForm()"></button>
    </div>

    <ng-container *ngIf="bankCards && !flagNewCard">
        <div class="bankCardsRadioButtons">
            <label *ngFor="let item of bankCards; let i = index">
                <input type="radio" [value]="item.id" formControlName="card">
                <span>{{item.cardNumber | creditCardMask}}</span>
                <span class="cardName">{{item.cardName}}</span>
            </label>
        </div>
    </ng-container>

    <div class="newCardWrapper" *ngIf="flagNewCard">

        <div *ngIf="cardForm.value.saveCard == true" class="inputCardName">
            <label>
                Card name
                <input type="text" formControlName="cardName" placeholder="My work card">
            </label>
        </div>

        <div class="newCard">
            <div class="cardFront">
                <div class="cardNumber">
                    <p>CARD NUMBER</p>
                    <input type="text" placeholder="0000 0000 0000 0000" formControlName="cardNumber" (keypress)="cardInputsOnlyDigits($event)"
                        (keyup)="cardNumberFormat($event)" (paste)="$event.preventDefault()" minlength="19" maxlength="19">
                </div>
                <div class="cardHolder">
                    <p>CARD HOLDER</p>
                    <input type="text" placeholder="NAME HERE" formControlName="cardHolder">
                </div>
                <div class="expires">
                    <p>EXPIRES</p>
                    <input type="text" placeholder="MM/YY" formControlName="cardExpires" (keypress)="cardInputsOnlyDigits($event)"
                        minlength="5" maxlength="5" (keyup)="cardExpiresFormat($event)">
                </div>
            </div>
            <div class="cardBack">
                <div class="cardCVV">
                    <p>CARD CVV</p>
                    <input type="password" placeholder="000" formControlName="cardCVV" maxlength="3" (keypress)="cardInputsOnlyDigits($event)">
                </div>
            </div>
        </div>

        <div class="saveThisCard">
            <label>
                <input type="checkbox" formControlName="saveCard">
                Save this card
            </label>
        </div>

    </div>

    <div class="validationErrors">
        <div *ngIf="card?.invalid">
            <div *ngIf="card?.errors?.cardRequired">
                Please, select card
            </div>
        </div>
        <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)">
            <div *ngIf="cardNumber?.errors?.cardNameRequired">
                Please, enter card number
            </div>
            <div *ngIf="cardNumber?.errors?.cardNameLength">
                Please, enter 16 digits in card number
            </div>
        </div>
        <div *ngIf="cardHolder?.invalid && (cardHolder?.dirty || cardHolder?.touched)">
            <div *ngIf="cardHolder?.errors?.cardHolderRequired">
                Please, enter name
            </div>
            <div *ngIf="cardHolder?.errors?.cardHolderSpace">
                Dont forget to enter space between first name and last name
            </div>
        </div>
        <div *ngIf="cardExpires?.invalid && (cardExpires?.dirty || cardExpires?.touched)">
            <div *ngIf="cardExpires?.errors?.cardExpiresRequired">
                Please, enter month and year
            </div>
            <div *ngIf="cardExpires?.errors?.cardMonth">
                Please, enter month
            </div>
            <div *ngIf="cardExpires?.errors?.cardYear">
                This card is not valid
            </div>
        </div>
        <div *ngIf="cardCVV?.invalid && (cardCVV?.dirty || cardCVV?.touched)">
            <div *ngIf="cardCVV?.errors?.cardCVVRequired">
                Please, enter CVV
            </div>
            <div *ngIf="cardCVV?.errors?.cardCVVLength">
                Please, enter 3 digits in CVV
            </div>
        </div>
        <div *ngIf="cardName?.invalid">
            <div *ngIf="cardName?.errors?.cardNameRequiredFromForm">
                Please, enter card name
            </div>
        </div>
    </div>


    <button class="addNewCardButton" (click)="addNewCard($event)" *ngIf="!flagNewCard">+ Add new card</button>

    <div class="buttons">
        <!-- <button (click)="changeCard()" *ngIf="!flagNewCard" class="submit">Change card</button> -->
        <button class="submit" (click)="submit()" [disabled]="!cardForm.valid">Continue</button>
        <button class="cancel" (click)="cancelAddNewCart($event)" *ngIf="flagNewCard">Cancel</button>
    </div>

</form>