header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

.banner {
    grid-area: banner
}

.products {
    grid-area: products;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'header' 
    'aside'
    'banner'
    'products';
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 200px 1fr;
        grid-template-areas: 
        'header header' 
        'aside banner'
        'aside products';
    }
}

header {
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    background-color: #eb8d8d;
}

aside {
    border: 1px solid black;
    background-color: #f1f1f1;
}

.banner {
    height: 400px;
    background-color: #abc5bc;
}


