<div class="wrapper">

    <header>header</header>

    <aside>
        Categories:
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['products']" [queryParams]="{'category': 'notebook'}">Notebooks</a>
                </li>
                <li>
                    <a [routerLink]="['products']" [queryParams]="{'category': 'phone'}">Phones</a>
                </li>
                <li>
                    <a [routerLink]="['products']" [queryParams]="{'category': 'printer'}">Printers</a>
                </li>
            </ul>
        </nav>
    </aside>

    <div class="banner">
        <div class="image">
            <div class="imageText">Bestellers</div>
        </div>
    </div>

    <div class="products">
        <app-popular-products></app-popular-products>
    </div>

</div>
