
<app-header></app-header>

<div class="wrapper">
    <div class="content">
        <div class="buttonsRegisterOrSignIn">
            <button (click)="changeFlagToSignIn()" [className]="flagForRegisterOfSignIn ? 'checked' : 'not-checked'">REGISTER</button>
            <button (click)="changeFlagToSignUp()" [className]="flagForRegisterOfSignIn ? 'not-checked' : 'checked'">SIGN IN</button>
        </div>
        <form [formGroup]="signUpForm" *ngIf="!isSignedIn && flagForRegisterOfSignIn" class="signUp"
            (ngSubmit)="onSignup(this.signUpForm.value.emailSignUp, this.signUpForm.value.passwordSignUp)">
            <div class="wrapperForInput">
                <input type="text" formControlName="emailSignUp" placeholder="Email address">
            </div>
            <div class="exampleEmail">
                Example: IvanIvanov1998@gmail.com
            </div>
            <div class="inputIncorrect" *ngIf="emailSignUp?.invalid && emailSignUp?.touched">
                <div *ngIf="emailSignUp?.errors?.emailRequired">
                    Please, enter email
                </div>
                <div *ngIf="emailSignUp?.errors?.emailIncorrect">
                    Please, enter correct email
                </div>
            </div>
            <div class="wrapperForInput">
                <input [type]="flagPasswordOrText ? 'text' : 'password'" formControlName="passwordSignUp" placeholder="Password">
                <div class="showPassword" (click)="toggleFlagPasswordOrText()">
                    <div class="tooltip">Show password for 1 sec</div>
                </div>
            </div>
            <div class="inputIncorrect" *ngIf="passwordSignUp?.invalid && passwordSignUp?.touched">
                <div *ngIf="passwordSignUp?.errors?.passwordRequired">
                    Please, enter password
                </div>
                <div *ngIf="passwordSignUp?.errors?.passwordLength">
                    Please enter 6 - 20 characters (A-Z, a-z, 0-9 only)
                </div>
            </div>
            <div class="wrapperForInput" *ngIf="signUpForm.value.passwordSignUp">
                <input [type]="flagPasswordConfirmOrText ? 'text' : 'password'" formControlName="passwordConfirm" placeholder="Password confirm">
                <div class="showPassword" (click)="toggleFlagPasswordConfirmOrText()">
                    <div class="tooltip">Show password for 1 sec</div>
                </div>
            </div>
            <div class="inputIncorrect" *ngIf="passwordConfirm?.invalid && passwordConfirm?.touched">
                <div *ngIf="passwordConfirm?.errors?.passwordConfirmRequired">
                    Please, confirm password
                </div>
                <div *ngIf="passwordConfirm?.errors?.passwordConfirmMismatch">
                    Passwords mismatch
                </div>
            </div>
            <button type="submit" [disabled]="!this.signUpForm.valid">CREATE ACCOUNT</button>
        </form>
        <form [formGroup]="signInForm" *ngIf="!isSignedIn && !flagForRegisterOfSignIn" class="signIn"
            (ngSubmit)="onSignin(this.signInForm.value.emailSignIn, this.signInForm.value.passwordSignIn)">
            <div class="wrapperForInput">
                <input type="text" formControlName="emailSignIn" placeholder="Email address">
            </div>
            <div class="exampleEmail">
                Example: IvanIvanov1998@gmail.com
            </div>
            <div class="inputIncorrect" *ngIf="emailSignIn?.invalid && emailSignIn?.touched">
                <div *ngIf="emailSignIn?.errors?.emailRequired">
                    Please, enter email
                </div>
                <div *ngIf="emailSignIn?.errors?.emailIncorrect">
                    Please, enter correct email
                </div>
            </div>
            <div class="wrapperForInput">
                <input [type]="flagPasswordSignInOrText ? 'text' : 'password'" formControlName="passwordSignIn" placeholder="Password">
                <div class="showPassword" (click)="toggleFlagSignInPasswordOrText()">
                    <div class="tooltip">Show password for 1 sec</div>
                </div>
            </div>
            <div class="inputIncorrect" *ngIf="passwordSignIn?.invalid && passwordSignIn?.touched">
                <div *ngIf="passwordSignIn?.errors?.passwordRequired">
                    Please, enter password
                </div>
                <div *ngIf="passwordSignIn?.errors?.passwordLength">
                    Please enter 6 - 20 characters (A-Z, a-z, 0-9 only)
                </div>
            </div>
            <button type="submit" [disabled]="!this.signInForm.valid">SIGN IN</button>
        </form>
        <div class="quickAccess">
            Quick access with
        </div>
        <div class="google">
            <button (click)="googleSignin()">
                <img src="https://firebasestorage.googleapis.com/v0/b/my-angular-project9465.appspot.com/o/assets%2FGoogleLogo.png?alt=media&token=19e21e19-b1ca-4603-ac0f-6f4bdd88c514" alt="">
                <div class="tooltip">Sign In / Sign Up with Google</div>
            </button>
        </div>
    </div>
</div>
