aside {
    grid-area: aside;
    width: 150px;
}

.products {
    grid-area: products;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'aside products';
}

aside > ul > li {
    height: 50px;
    line-height: 50px;
}


ul {
    padding: 0;
    margin: 0;
}

.products > li {
    display: grid;
    grid-template-columns: 200px 1fr 100px;
    grid-gap: 1rem;

    margin-bottom: 1rem;
}

@media (max-width: 700px) {
    .products > li {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }
}


.image {
    border: 1px solid black;
    margin: 0 auto;
}

.nameAndDescription {
    border: 1px solid black;
}

.price {
    border: 1px solid black;
}
