<button>
    <a routerLink="">Back to main page</a>
</button>

<div class="wrapper">
    <aside>
        <app-filters></app-filters>
    </aside>

    <ul class="products">
        <ng-container *ngFor="let product of products">
            <li *ngIf="flag || queryCategory.category.includes(product.category)">
                <div class="image">
                    <img
                        src="{{ (product.image) || 'https://upload.wikimedia.org/wikipedia/commons/0/0a/No-image-available.png' }}">
                </div>
                <div class="nameAndDescription">
                    <div>
                        <h3>{{product.name}}</h3>
                    </div>
                    <div>
                        {{product.shortDescription || 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'}}
                    </div>
                </div>
                <div class="price">
                    {{product.price}} $
                </div>
                <a routerLink='/product/{{product.id}}'>{{product.id}}</a>
            </li>
        </ng-container>
    </ul>

</div>