.wrapperBackgroud {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
    box-sizing: border-box;
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    position: relative;
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    z-index: 7;
    padding-left: 10px;
}

.list {
    position: absolute;
    z-index: 7;
    border: 1px solid black;
    top: 65px;
    margin: 0 20px;
    max-width: 500px;
}

ul {
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
}

.product {
    display: grid;
    grid-template-columns: 100px 1fr 90px;
    grid-gap: 10px;
    height: 70px;
    padding: 10px;
    cursor: pointer;
    &:hover {
        background-color: #f2f2f2;
    }
    .image {
        display: flex;
        justify-content: center;
        img {
            max-height: 70px;
            max-width: 90px;
        }
    }
    .name {
        padding-top: 5px;
        line-height: 20px;
        height: 70px;
        div {
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        } 
    }
    .priceAndRating {
        height: 70px;
        line-height: 20px;
        padding-top: 5px;
        .price {
            height: 25px;
            font-weight: bold;
            text-align: center;
        }
        .rating {
            height: 35px;
            span {
                color: #cccccc;
                font-size: 22px;
            }
            span:before {
                content: '★';
            }
            span.active {
                color: #ff4747;
            }
        }
    }
}

.noResults {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    width: 80vw;
    max-width: 400px;
}