<div class="wrapperBackgroud" (click)="closeSearch()" *ngIf="flagShowSearch"></div>

<input type="text" placeholder="I'm shopping for..." (keyup)="search($event)" (focus)="search($event)">

<div class="wrapper">

    <div class="list" *ngIf="flagShowSearch && currentValueSearch !== ''">
        <ul>
            <li *ngFor="let product of productsList" class="product" (click)="goToProduct(product.id)">
                <div class="image">
                    <img src="{{product.image}}" alt="">
                </div>
                <div class="name">
                    <div>
                        {{product.name}}
                    </div>
                </div>
                <div class="priceAndRating">
                    <div class="price">
                        {{product.price | currency}}
                    </div>
                    <div class="rating">
                        <span [ngClass]="{'active' : product.averageRating > 0}"></span>
                        <span [ngClass]="{'active' : product.averageRating > 1}"></span>
                        <span [ngClass]="{'active' : product.averageRating > 2}"></span>
                        <span [ngClass]="{'active' : product.averageRating > 3}"></span>
                        <span [ngClass]="{'active' : product.averageRating > 4}"></span>
                    </div>
                </div>
            </li>
            <li class="noResults" *ngIf="productsList.length === 0 && currentValueSearch !== ''">
                No results
            </li>
        </ul>
    </div>

</div>